@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    font-family: "Open Sans", sans-serif;
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    .container {
      padding: 40px;
    }
  }